body {
    font-family: "Noto Sans TC", serif;
    line-height: 1.5;
}

.container {
    max-width: 1320px;  /*1920 - 312 - 312 + 12 + 12*/
    margin: 0 auto;
    padding: 0 12px;
}
.d-flex{
    display: flex;
}
@media screen and (max-width: 992px){
    .container {
        max-width: 1064px;
        padding: 0 36px;
    }
}
@media screen and (max-width: 767px){
    .container{
        max-width: 720px; /*768 - 36 - 36 + 12 + 12*/
        padding: 0 36px;
    }
}
@media screen and (max-width: 575px) {
    .container{
        max-width: 605px; 
        padding: 0 15px;
    }
}
@media screen and (max-width: 375px) {
    .container{
        max-width: 373px; /*375 - 13 - 13 + 12 + 12*/
        padding: 0 13px;
    }
}

/*banner*/
.banner{
    height: calc(100vh - 80px); /*滿屏*/
    background-image: url('../images/home-header.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .banner-text{
        height: 100%; /*calc(100vh - 80px)*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        color: #650300;
        h1{
            font-size: 36px;
            color: #650300;
        }
        p{
            font-size: 64px;
            color: #650300;
            font-weight: bold;
            margin-bottom: 4px;
        }
        a{
            background-color: #AA0601;
            color: white;
            padding: 6px 12px;
            font-size: 20px;
        }
        a:hover{
            background-color: #650300;
        }
        @media screen and (max-width: 767px){
            h1{
                font-size: 28px;
            }
            p{
                font-size: 48px;
            }
            a{ 
                padding: 6px 12px;
                font-size: 20px;
            }
        }
        @media screen and (max-width: 575px){
            h1{
                font-size: 16px;
            }
            p{
                font-size: 24px;
            }
        }
    }
}
@media screen and (max-width: 992px){
    .banner{
      background-image: url("../images/home-header-sm.png");
      height: 787px;
    }
}
@media screen and (max-width: 575px){
    .banner{
        height: 396px;
    }
}

/*feature*/
.feature{
    background-color: #FBF2F2;
    padding: 80px 0;
    h2{
        font-size: 48px;
        font-weight: bold;
        color: #650300;
        margin-bottom: 32.08px;
        text-align: center;
    }
    @media screen and (max-width: 575px){
        h2{
            font-size: 24px;
        }
    }
    .feature-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 24px;
        li{
            width: calc(25% - 18px);  /* (24px*3) / 4 */
            color: #650300;
        }
        @media screen and (max-width: 992px){
            li{
                width: calc(50% - 12px);  /* 24px / 2  */
            }
        }
        @media screen and (max-width: 575px){
            li{
                width: 100%;
            }
        }
        img{
            width: 83.83px;
            height: 83.83px;
            margin: 0 auto;
        }
        h3{
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-top: 24.08px;
            margin-bottom: 8px;
        }
        p{
            font-size: 16px;
            color: #000;
        }
    }
}
@media screen and (max-width: 575px){
    .feature{
        padding: 40px 0;
    }
}

/*classic*/
.classic{
    padding: 80px 0;
    text-align: center;
    @media screen and (max-width: 992px) {
        .container{
            max-width: 50%;
        }
    }
    @media screen and (max-width: 575px) {
        .container{
            max-width: 605px;
        }
    }
    h2{
        font-size: 48px;
        color: #650300;
        font-weight: bold;
        text-align: center;
        margin-bottom: 48px;
    }
    @media screen and (max-width: 575px){
        h2{
            font-size: 24px;
            margin-bottom: 24px;
        }
    }
    .classic-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            width: calc((100% - 48px) / 3);
        }
        @media screen and (max-width: 992px) {
            li{
                width: 100%;
            }
        }
        img{
            max-width: 100%;
            margin-bottom: 8px;
        }
        h3{
            font-size: 48px;
            color: #AA0601;
            font-weight: bold;
            text-align: center;
            font-family: "Roboto", serif;
            font-style: italic;
        }
        @media screen and (max-width: 767px) {
            h3 {
              font-size: 32px;
            }
        }
        @media screen and (max-width: 575px) {
            h3 {
              font-size: 48px;
            }
        }
    }
    @media screen and (max-width: 992px) {
        .classic-list{
            flex-wrap: wrap;
            row-gap: 24px;  /*上下row之間的距離*/
        }
    }
}
@media screen and (max-width: 575px){
    .classic{
        padding: 40px 0;
    }
}

/*joint聯名*/
.joint{
    background-image: url('../images/index-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    h2{
        font-size: 48px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        margin-bottom: 48px;
    }
    h3{
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        background-color: #fff;
        color: #AA0601;
        font-family: "Roboto", serif;
        font-style: italic;
    }
    
    .joint-list{
        display: flex;
        justify-content: space-between;
        li{
            width: 50%;
            border: 0.5px solid #707070;
        }
        @media screen and (max-width: 992px){
            li{
                width: 100%;
            }
        }
        li:first-child{
            border-right: 0px;
        }
    }
    @media screen and (max-width: 992px){
        .joint-list{
            flex-wrap: wrap;
            row-gap: 32px;
        }
    }
    .joint-d{
        background-image: url('../images/home-section4-1.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 240px;
    }
    .joint-y{
        background-image: url('../images/home-section4-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 240px;
    }
    @media screen and (max-width: 575px) {
        .joint-d{
            background-image: url('../images/home-section4-1-sm.png');
        }
        .joint-y{
            background-image: url('../images/home-section4-2-sm.png');
    
        }
    }
}
@media screen and (max-width: 992px){
    .joint{
        padding: 80px 0;
        background-image: url("../images/index-bg-sm.png");
        background-position: center top;
    }
}
@media screen and (max-width: 575px){
    .joint{
        padding: 40px 0;
        background-image: url("../images/index-bg-md.png");
    }
}

/*recommend*/
.recommend{
    padding: 80px 0;
    h2{
        font-size: 48px;
        color: #650300;
        font-weight: bold;
        text-align: center;
        margin-bottom: 48px;
    }
    .recommend-list {
        display: flex;
        justify-content: space-between;
        li{
            width: calc((100% - 72px) / 4);
            box-shadow: 0px 2px 6px #00000029;
            border: 1px solid #DEE2E6;
            h3{
                font-size: 16px;
                margin-bottom: 8px;
            }
            p{
                font-size: 16px;
            }
            small{
                font-size: 14px;
                color: #707070;
            }
            .content{
                padding: 16px;
                height: 205px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        @media screen and (max-width: 992px) {
            li {
              width: calc((100% - 24px) / 2);
            }
        }
        @media screen and (max-width: 575px) {
            li {
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 992px) {
        .recommend-list {
          flex-wrap: wrap;
          row-gap: 24px;
        }
    }
}

/*contact*/
.contact{
    background-color: #FBF2F2;
    padding: 80px 0;
    .container {
        max-width: 660px; /*636 + 12 * 2  (記得算padding)*/
    }
    @media screen and (max-width: 992px) {
        .container {
          max-width: 648px;
        }
    }
    @media screen and (max-width: 575px) {
        .container {
          max-width: 378px;
        }
    }
    h2{
        font-size: 48px;
        color: #650300;
        font-weight: bold;
        text-align: center;
        margin-bottom: 48px;
    }
    p{
        font-size: 20px;
        margin-bottom: 24px;
    }
    form{
        display: flex;
        flex-direction: column;
        label{
            font-size: 16px;
            margin-bottom: 8px;
        }
        input,
        textarea{
            margin-bottom: 16px;
            font-size: 16px;
            border: 1px solid #000;
            background-color: #FBF2F2;
            padding: 6px 12px;
        }
        input[type=checkbox] {
            margin-right: 4px;
            accent-color: #aa0601;  /*勾選後的顏色*/
        }
        .policy {
            margin-bottom: 48px;
        }
        .btn {
            font-size: 16px;
            padding: 16px 176px;
            background-color: #AA0601;
            color: #fff;
            border: 0;
            text-align: center;
        }
        @media screen and (max-width: 767px) {
            .btn {
                padding: 16px 136px;
             }
        }
        @media screen and (max-width: 375px) {
            .btn {
                padding: 16px 142px;
             }
        }
        
    }
}