@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Noto Sans TC", serif;
  line-height: 1.5; }

img {
  vertical-align: middle; }

a {
  text-decoration: none;
  -webkit-transition: color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, transform 0.3s;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  transition: color 0.3s, background-color 0.3s, transform 0.3s, -webkit-transform 0.3s; }

/*rwd reset*/
img {
  max-width: 100%;
  height: auto;
  display: block; }

/*header*/
.header {
  background-color: #AA0601; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .nav .logo {
      width: 80px;
      height: 48.57px; }
    .header .nav .nav-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 64px;
         -moz-column-gap: 64px;
              column-gap: 64px; }
      .header .nav .nav-list li {
        padding: 25px 0; }
        .header .nav .nav-list li a {
          color: white;
          font-size: 20px;
          line-height: 30px; }
      .header .nav .nav-list li:hover {
        -webkit-transform: translateY(-6px);
            -ms-transform: translateY(-6px);
                transform: translateY(-6px);
        -webkit-transition: -webkit-transform .75s;
        transition: -webkit-transform .75s;
        -o-transition: transform .75s;
        transition: transform .75s;
        transition: transform .75s, -webkit-transform .75s; }
    @media screen and (max-width: 767px) {
      .header .nav .nav-list {
        -webkit-column-gap: 32px;
           -moz-column-gap: 32px;
                column-gap: 32px; } }
    @media screen and (max-width: 575px) {
      .header .nav .nav-list {
        display: none; } }
  .header .hamburger {
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer; }
  @media screen and (max-width: 575px) {
    .header .hamburger {
      display: block;
      padding: 25px 0; } }

/*footer*/
.footer {
  background-color: #AA0601;
  padding-top: 48px;
  padding-bottom: 32px; }
  .footer a {
    color: white; }
  .footer .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-wrap: wrap;
    padding-bottom: 32px; }
  @media screen and (max-width: 575px) {
    .footer .about {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-bottom: 16px; } }
  .footer .link-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
    font-size: 16px; }
  @media screen and (max-width: 767px) {
    .footer .link-list {
      -webkit-column-gap: 24px;
         -moz-column-gap: 24px;
              column-gap: 24px; } }
  @media screen and (max-width: 575px) {
    .footer .link-list {
      display: none; } }
  .footer .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    width: 30%; }
    .footer .social-list img {
      width: 48px;
      height: 48px; }
    @media screen and (max-width: 767px) {
      .footer .social-list img {
        width: 40px;
        height: 40px; } }
    @media screen and (max-width: 575px) {
      .footer .social-list img {
        width: 24px;
        height: 24px; } }
  @media screen and (max-width: 375px) {
    .footer .social-list {
      -webkit-column-gap: 8px;
         -moz-column-gap: 8px;
              column-gap: 8px; } }
  .footer .about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 36px;
    line-height: 1.5;
    color: white; }
    .footer .about-info li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .about-info li span {
        padding-right: 16px; }
      @media screen and (max-width: 375px) {
        .footer .about-info li span {
          padding-right: 8px; } }
  @media screen and (max-width: 575px) {
    .footer .about-info {
      font-size: 16px; } }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff; }
    .footer .copyright p {
      font-size: 16px; }
    @media screen and (max-width: 575px) {
      .footer .copyright p {
        margin-bottom: 8px; } }
    .footer .copyright .copyright-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 48px;
         -moz-column-gap: 48px;
              column-gap: 48px; }
      .footer .copyright .copyright-list a {
        font-size: 14px;
        line-height: 1.5; }
    @media screen and (max-width: 575px) {
      .footer .copyright .copyright-list {
        display: block; }
        .footer .copyright .copyright-list li {
          margin-bottom: 8px; } }
  @media screen and (max-width: 575px) {
    .footer .copyright {
      display: block; }
      .footer .copyright p {
        margin-bottom: 8px; } }

@media screen and (max-width: 992px) {
  .footer {
    padding: 48px 0 40px; } }

@media screen and (max-width: 575px) {
  .footer {
    padding: 24px 0; } }

body {
  font-family: "Noto Sans TC", serif;
  line-height: 1.5; }

.container {
  max-width: 1320px;
  /*1920 - 312 - 312 + 12 + 12*/
  margin: 0 auto;
  padding: 0 12px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 992px) {
  .container {
    max-width: 1064px;
    padding: 0 36px; } }

@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
    /*768 - 36 - 36 + 12 + 12*/
    padding: 0 36px; } }

@media screen and (max-width: 575px) {
  .container {
    max-width: 605px;
    padding: 0 15px; } }

@media screen and (max-width: 375px) {
  .container {
    max-width: 373px;
    /*375 - 13 - 13 + 12 + 12*/
    padding: 0 13px; } }

/*banner*/
.banner {
  height: calc(100vh - 80px);
  /*滿屏*/
  background-image: url("../images/home-header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner .banner-text {
    height: 100%;
    /*calc(100vh - 80px)*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #650300; }
    .banner .banner-text h1 {
      font-size: 36px;
      color: #650300; }
    .banner .banner-text p {
      font-size: 64px;
      color: #650300;
      font-weight: bold;
      margin-bottom: 4px; }
    .banner .banner-text a {
      background-color: #AA0601;
      color: white;
      padding: 6px 12px;
      font-size: 20px; }
    .banner .banner-text a:hover {
      background-color: #650300; }
    @media screen and (max-width: 767px) {
      .banner .banner-text h1 {
        font-size: 28px; }
      .banner .banner-text p {
        font-size: 48px; }
      .banner .banner-text a {
        padding: 6px 12px;
        font-size: 20px; } }
    @media screen and (max-width: 575px) {
      .banner .banner-text h1 {
        font-size: 16px; }
      .banner .banner-text p {
        font-size: 24px; } }

@media screen and (max-width: 992px) {
  .banner {
    background-image: url("../images/home-header-sm.png");
    height: 787px; } }

@media screen and (max-width: 575px) {
  .banner {
    height: 396px; } }

/*feature*/
.feature {
  background-color: #FBF2F2;
  padding: 80px 0; }
  .feature h2 {
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    margin-bottom: 32.08px;
    text-align: center; }
  @media screen and (max-width: 575px) {
    .feature h2 {
      font-size: 24px; } }
  .feature .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 24px; }
    .feature .feature-list li {
      width: calc(25% - 18px);
      /* (24px*3) / 4 */
      color: #650300; }
    @media screen and (max-width: 992px) {
      .feature .feature-list li {
        width: calc(50% - 12px);
        /* 24px / 2  */ } }
    @media screen and (max-width: 575px) {
      .feature .feature-list li {
        width: 100%; } }
    .feature .feature-list img {
      width: 83.83px;
      height: 83.83px;
      margin: 0 auto; }
    .feature .feature-list h3 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-top: 24.08px;
      margin-bottom: 8px; }
    .feature .feature-list p {
      font-size: 16px;
      color: #000; }

@media screen and (max-width: 575px) {
  .feature {
    padding: 40px 0; } }

/*classic*/
.classic {
  padding: 80px 0;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .classic .container {
      max-width: 50%; } }
  @media screen and (max-width: 575px) {
    .classic .container {
      max-width: 605px; } }
  .classic h2 {
    font-size: 48px;
    color: #650300;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px; }
  @media screen and (max-width: 575px) {
    .classic h2 {
      font-size: 24px;
      margin-bottom: 24px; } }
  .classic .classic-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .classic .classic-list li {
      width: calc((100% - 48px) / 3); }
    @media screen and (max-width: 992px) {
      .classic .classic-list li {
        width: 100%; } }
    .classic .classic-list img {
      max-width: 100%;
      margin-bottom: 8px; }
    .classic .classic-list h3 {
      font-size: 48px;
      color: #AA0601;
      font-weight: bold;
      text-align: center;
      font-family: "Roboto", serif;
      font-style: italic; }
    @media screen and (max-width: 767px) {
      .classic .classic-list h3 {
        font-size: 32px; } }
    @media screen and (max-width: 575px) {
      .classic .classic-list h3 {
        font-size: 48px; } }
  @media screen and (max-width: 992px) {
    .classic .classic-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      row-gap: 24px;
      /*上下row之間的距離*/ } }

@media screen and (max-width: 575px) {
  .classic {
    padding: 40px 0; } }

/*joint聯名*/
.joint {
  background-image: url("../images/index-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0; }
  .joint h2 {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px; }
  .joint h3 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    color: #AA0601;
    font-family: "Roboto", serif;
    font-style: italic; }
  .joint .joint-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .joint .joint-list li {
      width: 50%;
      border: 0.5px solid #707070; }
    @media screen and (max-width: 992px) {
      .joint .joint-list li {
        width: 100%; } }
    .joint .joint-list li:first-child {
      border-right: 0px; }
  @media screen and (max-width: 992px) {
    .joint .joint-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      row-gap: 32px; } }
  .joint .joint-d {
    background-image: url("../images/home-section4-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px; }
  .joint .joint-y {
    background-image: url("../images/home-section4-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px; }
  @media screen and (max-width: 575px) {
    .joint .joint-d {
      background-image: url("../images/home-section4-1-sm.png"); }
    .joint .joint-y {
      background-image: url("../images/home-section4-2-sm.png"); } }

@media screen and (max-width: 992px) {
  .joint {
    padding: 80px 0;
    background-image: url("../images/index-bg-sm.png");
    background-position: center top; } }

@media screen and (max-width: 575px) {
  .joint {
    padding: 40px 0;
    background-image: url("../images/index-bg-md.png"); } }

/*recommend*/
.recommend {
  padding: 80px 0; }
  .recommend h2 {
    font-size: 48px;
    color: #650300;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px; }
  .recommend .recommend-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .recommend .recommend-list li {
      width: calc((100% - 72px) / 4);
      -webkit-box-shadow: 0px 2px 6px #00000029;
              box-shadow: 0px 2px 6px #00000029;
      border: 1px solid #DEE2E6; }
      .recommend .recommend-list li h3 {
        font-size: 16px;
        margin-bottom: 8px; }
      .recommend .recommend-list li p {
        font-size: 16px; }
      .recommend .recommend-list li small {
        font-size: 14px;
        color: #707070; }
      .recommend .recommend-list li .content {
        padding: 16px;
        height: 205px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
    @media screen and (max-width: 992px) {
      .recommend .recommend-list li {
        width: calc((100% - 24px) / 2); } }
    @media screen and (max-width: 575px) {
      .recommend .recommend-list li {
        width: 100%; } }
  @media screen and (max-width: 992px) {
    .recommend .recommend-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      row-gap: 24px; } }

/*contact*/
.contact {
  background-color: #FBF2F2;
  padding: 80px 0; }
  .contact .container {
    max-width: 660px;
    /*636 + 12 * 2  (記得算padding)*/ }
  @media screen and (max-width: 992px) {
    .contact .container {
      max-width: 648px; } }
  @media screen and (max-width: 575px) {
    .contact .container {
      max-width: 378px; } }
  .contact h2 {
    font-size: 48px;
    color: #650300;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px; }
  .contact p {
    font-size: 20px;
    margin-bottom: 24px; }
  .contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact form label {
      font-size: 16px;
      margin-bottom: 8px; }
    .contact form input,
    .contact form textarea {
      margin-bottom: 16px;
      font-size: 16px;
      border: 1px solid #000;
      background-color: #FBF2F2;
      padding: 6px 12px; }
    .contact form input[type=checkbox] {
      margin-right: 4px;
      accent-color: #aa0601;
      /*勾選後的顏色*/ }
    .contact form .policy {
      margin-bottom: 48px; }
    .contact form .btn {
      font-size: 16px;
      padding: 16px 176px;
      background-color: #AA0601;
      color: #fff;
      border: 0;
      text-align: center; }
    @media screen and (max-width: 767px) {
      .contact form .btn {
        padding: 16px 136px; } }
    @media screen and (max-width: 375px) {
      .contact form .btn {
        padding: 16px 142px; } }

.d-none {
  display: none; }

/*斷點: 992 767 575 375*/
.product-nav {
  font-size: 32px;
  font-weight: bold; }
  .product-nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto; }
    .product-nav .nav-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: calc(100%/3);
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 24px 0;
      border: 1px solid #DCDCDC;
      cursor: pointer; }
    .product-nav .nav-list .active {
      border-bottom: 8px solid #AA0601; }

@media screen and (max-width: 767px) {
  .product-nav {
    font-size: 24px; }
    .product-nav .nav-list li {
      padding: 16px 0; } }

@media screen and (max-width: 375px) {
  .product-nav {
    font-size: 16px; } }

.optical .head-img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.optical .head-img li:first-child {
  height: 296px;
  background-image: url("../images/product-header-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%; }

.optical .head-img li:last-child {
  height: 296px;
  background-image: url("../images/product-header-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%; }

.optical .title {
  text-align: center;
  margin-bottom: 32px; }
  .optical .title h2 {
    font-size: 42px;
    font-weight: bold; }
  .optical .title span {
    font-size: 32px; }

.optical .products-section {
  padding-top: 80px;
  padding-bottom: 80px; }

.optical .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .optical .products li {
    width: calc((100% - (24px * 3)) / 4); }
    .optical .products li .product-info {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .optical .products li .product-info h3 {
        font-size: 24px; }
      .optical .products li .product-info span {
        color: #AA0601;
        font-weight: bold; }
    .optical .products li .product-color {
      -webkit-column-gap: 8px;
         -moz-column-gap: 8px;
              column-gap: 8px; }
      .optical .products li .product-color .color-brown {
        width: 24px;
        height: 24px;
        background: #5F3E2D 0% 0% no-repeat padding-box;
        border-radius: 4px;
        cursor: pointer; }
      .optical .products li .product-color .color-orange {
        width: 24px;
        height: 24px;
        background: #B75929 0% 0% no-repeat padding-box;
        border-radius: 4px;
        cursor: pointer; }

.optical .page-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px; }
  .optical .page-btn li {
    padding: 11px 12px;
    border: 1px solid #555555;
    cursor: pointer; }
  .optical .page-btn li:first-child {
    padding: 11px 12px; }
  .optical .page-btn li:last-child {
    padding: 11px 12px;
    background-color: #F2F2F2; }
  .optical .page-btn li:nth-child(3) {
    color: #fff;
    background-color: #000; }

@media screen and (max-width: 767px) {
  .optical .head-img li:first-child {
    background-image: url("../images/product-header-sm-1.png"); }
  .optical .head-img li:last-child {
    background-image: url("../images/product-header-sm-2.png"); }
  .optical .products li {
    width: calc((100% - (24px)) / 2); } }

@media screen and (max-width: 375px) {
  .optical .head-img li:first-child {
    height: 136px; }
  .optical .head-img li:last-child {
    height: 136px; }
  .optical .title {
    margin-bottom: 24px; }
    .optical .title h2 {
      font-size: 24px; }
    .optical .title span {
      font-size: 24px; }
  .optical .products-section {
    padding-top: 40px;
    padding-bottom: 40px; }
    .optical .products-section .products li {
      width: calc(100%); } }

.sunglass .head-img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sunglass .head-img li:first-child {
  height: 296px;
  background-image: url("../images/product-header-3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%; }

.sunglass .head-img li:last-child {
  height: 296px;
  background-image: url("../images/product-header-4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%; }

.sunglass .title {
  text-align: center;
  margin-bottom: 32px; }
  .sunglass .title h2 {
    font-size: 42px;
    font-weight: bold; }
  .sunglass .title span {
    font-size: 32px; }

.sunglass .products-section {
  padding-top: 80px;
  padding-bottom: 80px; }

.sunglass .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .sunglass .products li {
    width: calc((100% - (24px * 2)) / 3); }
    .sunglass .products li .product-info {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .sunglass .products li .product-info h3 {
        font-size: 24px; }
      .sunglass .products li .product-info span {
        color: #AA0601;
        font-weight: bold; }
    .sunglass .products li .product-color {
      -webkit-column-gap: 8px;
         -moz-column-gap: 8px;
              column-gap: 8px; }
      .sunglass .products li .product-color .color-brown {
        width: 24px;
        height: 24px;
        background: #5F3E2D 0% 0% no-repeat padding-box;
        border-radius: 4px;
        cursor: pointer; }
      .sunglass .products li .product-color .color-orange {
        width: 24px;
        height: 24px;
        background: #B75929 0% 0% no-repeat padding-box;
        border-radius: 4px;
        cursor: pointer; }

.sunglass .page-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px; }
  .sunglass .page-btn li {
    padding: 11px 12px;
    border: 1px solid #555555;
    cursor: pointer; }
  .sunglass .page-btn li:first-child {
    padding: 11px 12px; }
  .sunglass .page-btn li:last-child {
    padding: 11px 12px;
    background-color: #F2F2F2; }
  .sunglass .page-btn li:nth-child(3) {
    color: #fff;
    background-color: #000; }

@media screen and (max-width: 767px) {
  .sunglass .head-img li:first-child {
    background-image: url("../images/product-header-sm-1.png"); }
  .sunglass .head-img li:last-child {
    background-image: url("../images/product-header-sm-2.png"); }
  .sunglass .products li {
    width: calc((100% - (24px)) / 2); } }

@media screen and (max-width: 375px) {
  .sunglass .head-img li:first-child {
    height: 136px; }
  .sunglass .head-img li:last-child {
    height: 136px; }
  .sunglass .title {
    margin-bottom: 24px; }
    .sunglass .title h2 {
      font-size: 24px; }
    .sunglass .title span {
      font-size: 24px; }
  .sunglass .products-section {
    padding-top: 40px;
    padding-bottom: 40px; }
    .sunglass .products-section .products li {
      width: calc(100%); } }

/*# sourceMappingURL=all.css.map */
